<div class="carouselLightbox" data-images="../assets/images/room-large.jpg,../assets/images/dining-large.jpg,../assets/images/hero1-large.jpg,../assets/images/hero2-large.jpg,../assets/images/hero3-large.jpg,../assets/images/hero4-large.jpg">
  <a class="carouselLightbox__trigger" href="#"><span class="carouselLightbox__trigger-icon icon icon-gallery"></span>View gallery</a>
</div>
