<div class="carousel heroCarousel">
  {{>heroContentRight moduleHero3}}
  {{>heroContentCenter moduleHeroContentCenter}}
  {{>heroContentRight moduleHero1}}
  {{>heroContentCenter moduleHeroContentCenter}}
</div>
