<div class="carousel newsCarousel">
  {{>tileTextBottom collectionTiles.tile4}}
  {{>tileTextTop collectionTiles.tile3}}
  {{>tileTextTop collectionTiles.tile2}}
  {{>tileTextBottom collectionTiles.tile2}}
</div>
