/*!
 *  @author rasmuselken <re@greatworks.dk>
 */
$easing-snap: cubic-bezier(0.000, 0.270, 0.215, 0.975);
$easing-smooth: cubic-bezier(0.165, 0.840, 0.260, 0.980);

$color-overlay-background: rgba(0,0,0,0.7);

// Media Queries
$below-small-screen: 767px !default;
$xsmall-screen: 480px !default;
$small-screen: 768px !default;
$above-small-screen: 769px !default;
$medium-screen: 1025px !default;
$large-screen: 1440px !default;

$small: 'only screen and (min-width: #{$small-screen})' !default;
$medium: 'only screen and (min-width:#{$medium-screen})' !default;
$large: 'only screen and (min-width:#{$large-screen})' !default;

$landscape: 'only screen and (orientation: landscape)' !default;
$portrait: 'only screen and (orientation: portrait)' !default;


$color-red: #e85757;
$color-black: #1b1b1b;
$color-white: #FFFFFF;
$color-dark-grey: #dadada;
$color-grey: #e8e8e8;
$color-ligth-grey: #f8f8f8;

.gradient-1{
    background: #f1f1f1;
    background: -moz-radial-gradient(center, ellipse cover, #f1f1f1 0%, #ffffff 45%);
    background: -webkit-radial-gradient(center, ellipse cover, #f1f1f1 0%,#ffffff 45%);
    background: radial-gradient(ellipse at center, #f1f1f1 0%,#ffffff 45%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f1f1f1', endColorstr='#ffffff',GradientType=1 );
}
