/*!
 *  @author rasmuselken <re@greatworks.dk>
 */
$easing-snap: cubic-bezier(0.000, 0.270, 0.215, 0.975);
$easing-smooth: cubic-bezier(0.165, 0.840, 0.260, 0.980);

$color-overlay-background: rgba(0,0,0,0.7);

// Media Queries
$below-small-screen: 767px !default;
$xsmall-screen: 480px !default;
$small-screen: 769px !default;
$above-small-screen: 769px !default;
$medium-screen: 1025px !default;
$large-screen: 1440px !default;

$small: 'only screen and (min-width: #{$small-screen})' !default;
$medium: 'only screen and (min-width:#{$medium-screen})' !default;
$large: 'only screen and (min-width:#{$large-screen})' !default;

$landscape: 'only screen and (orientation: landscape)' !default;
$portrait: 'only screen and (orientation: portrait)' !default;
