<div class="albumViewer" style="opacity:0;">
    <div class="albumViewer__logo">
        <img src="/assets/images/logo.svg" alt="">
    </div>
    <div class="albumViewer__carousel carousel" tabindex="1">
        <div class="albumViewer__album" data-playlist-index="0">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Louise & Rasmus</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/louiserasmus.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Have a Dansktop Christmas!</h2>
                    <p>Break out the port, maltbolcher, and start rocking with missekat to this ultimate Danish Christmas playlist.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="1">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Pia, Langballe & Christian</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/partners.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Merry X-Mas from the Mom & Dads</h2>
                    <p>Some say Christmas is for the children, we say it’s a time for parents to kick back with a drink (or two). Happy holidays from our family to yours.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="2">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Esben &  Josefine</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/joseesben.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Make X-Mas Pop</h2>
                    <p>Don’t stop beliebing in Santa. We’re bringing Christmas to the pop charts with this young crowd-pleaser playlist.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="3">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Bo</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/bo.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Making baby Jesus</h2>
                    <p>If only Santa was this smooth and funky. This one’s for the lovers feeling the rhythm under the mistletoe.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="4">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Fred</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/fred.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Merry X-Mas from the Interwebs</h2>
                    <p>This holiday playlist delivers Internet gold. From Chinese chickens to Mr. Hanky, this is a gift that keeps on giving.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="5">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Tarik</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/tarik.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">A weird & wonderful Christmas</h2>
                    <p>Let’s admit it, the holidays can be wild. Let your hair down and jam to this unexpected X-Mas playlist.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="6">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Jonas</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/jonas.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Christmas rapping</h2>
                    <p>Have yourself a funky little Christmas, and help Santa get down with this hip (hop) holiday playlist.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="7">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Dani</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/dani.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">Christmas in the Kitchen</h2>
                    <p>Feel the warmth of the stove, smell the roasting meat, and feast on this playlist treat.</p>
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="8">
            <div class="albumViewer__album-inner">
                <!-- <div class="albumViewer__album-copy">
                    <h2 class="header-1">Paul & Ann-Sofi</h2>
                </div> -->
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/paulannsofi.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
                <div class="albumViewer__album-copy">
                    <h2 class="header-1">A Crooner's Christmas</h2>
                    <p>Gather around the fireplace, pour yourself a whiskey, and feel the warmth of this smooth holiday playlist.</p>
                </div>
            </div>
        </div>
        <a href="#" class="albumViewer__play-btn button-round-border button-round button-round-wide">Play</a>
    </div>
</div>
