<div class="albumViewer">
    <div class="albumViewer__logo">
        <img src="/assets/images/logo.svg" alt="">
    </div>
    <div class="albumViewer__carousel carousel">
        <div class="albumViewer__album" data-playlist-index="0">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Louise og Rasmus's Have a Danish top-pop X-mas</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/louiserasmus.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="1">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Pia, Christian and Christian</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/partners.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="2">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Jose Esben</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/joseesben.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="3">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Bo</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/bo.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="4">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Fred</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/fred.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="5">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Tarik</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/tarik.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="6">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Jonas</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/jonas.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="7">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Dani</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/dani.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="albumViewer__album" data-playlist-index="8">
            <div class="albumViewer__album-inner">
                <div class="albumViewer__album-copy">
                    <h2>Paul Ann-Sofi</h2>
                </div>
                <div class="albumViewer__album-cover">
                    <img class="albumViewer__album-cover-img" src="/assets/images/covers/paulAnnsofi.jpg" alt="">
                    <img class="albumViewer__album-cover-vinyl-img" src="/assets/images/player/vinyl-shadow.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
