<div class="albumViewer">
    <div class="albumViewer__carousel carousel">
        <div class="albumViewer__album" data-playlist-index="0">
            <img src="../assets/images/covers/louiserasmus.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="1">
            <img src="../assets/images/covers/partners.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="2">
            <img src="../assets/images/covers/joseesben.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="3">
            <img src="../assets/images/covers/bo.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="4">
            <img src="../assets/images/covers/fred.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="5">
            <img src="../assets/images/covers/tarik.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="6">
            <img src="../assets/images/covers/jonas.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="7">
            <img src="../assets/images/covers/dani.jpg" alt="">
        </div>
        <div class="albumViewer__album" data-playlist-index="8">
            <img src="../assets/images/covers/paulAnnsofi.jpg" alt="">
        </div>
    </div>
</div>
