<!doctype html>
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js" lang="en" dir="ltr">  <![endif]-->
<!--[if gt IE 9]>  <html class="ie gt9 no-js" lang="en"  dir="ltr">      <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en" dir="ltr">              <!--<![endif]-->

<head>
	{{> head }}
</head>
	<body>
	<style>
		.load-img{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			width: 250px;
		}
	</style>
	<img class="load-img" src="/assets/images/logo.svg" alt="">

		<!-- Snow shader -->
		<script type="x-shader/x-vertex" id="snow_vs">
			uniform float radiusX;
			uniform float radiusZ;
			uniform float size;
			uniform float scale;
			uniform float height;
			uniform float elapsedTime;
			uniform float speedH;
			uniform float speedV;

			void main() {
				vec3 pos = position;
				pos.x += cos((elapsedTime + position.z) * 0.25 * speedH) * radiusX;
				pos.y = mod(pos.y - elapsedTime * speedV, height);
				pos.z += sin((elapsedTime + position.x) * 0.25 * speedH) * radiusZ;

				vec4 mvPosition = modelViewMatrix * vec4( pos, 1.0 );

				gl_PointSize = size * ( scale / length( mvPosition.xyz ) );

				gl_Position = projectionMatrix * mvPosition;
			}
		</script>
		<script type="x-shader/x-fragment" id="snow_fs">
			uniform vec3 color;
			uniform float opacity;
			uniform sampler2D texture;

			void main() {
				vec4 texColor = texture2D( texture, gl_PointCoord );
				gl_FragColor = texColor * vec4( color, opacity );
			}
		</script>
		<div id="snow"></div>
		<!-- End Snow shader -->

		<!--[if lt IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	{% body  %}
	{{> scripts }}
	</body>
</html>
