<!doctype html>
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js" lang="en" dir="rtl">  <![endif]-->
<!--[if gt IE 9]>  <html class="ie gt9 no-js" lang="en"  dir="rtl">      <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en" dir="rtl">              <!--<![endif]-->

<head>
  {{> head }}
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<main id="mainContainer">
    {% body %}
</main>
{{> scripts }}
</body>
</html>
