<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Website</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<meta property="og:url" content="http://greatworks-xmas.dk/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="A gift even Santa can’t beat. Holiday albums created by Great Works, especially for you. Turntable included. Happy holidays." />
<meta property="og:description" content="Happy holidays." />
<meta property="og:image" content="http://greatworks-xmas.dk/assets/images/share.jpg" />



<!-- Place favicon.ico in the root directory -->
<!-- <link href="../assets/favicon.ico" rel="shortcut icon"> -->
<link rel="stylesheet" href="/css/main.css">
<script src="/js/vendors/modernizr.js"></script>
<script src="/js/vendors/jquery.min.js"></script>
