<div class="intro">
    <div class="intro__inner">
        <img class="intro__logo" src="/assets/images/logo.svg" alt="">
        <h1>Wishing you a merry christmas!</h1>
        <p>We created albums in the spirit of christmas, sed ultricies urna. Integer a tortor mi. Vestibulum lobortis, ante vel tincidunt mollis, risus ex ornare arcu, sed vestibulum mauris mauris eu arcu.</p>
        <div class="intro__arrows">
            <img src="/assets/images/intro/arrows.svg" alt="">
        </div>
        <p class="intro__arrow-instructions">
            Left/Right to navigate through albums. <br>
            Up/Down to navigate through songs.
        </p>
        <div class="button">Enter website</div>
    </div>
</div>
