<div class="intro">
    <style>
    /*hardcoding this beacuse we want it to display correct instantly*/
    .intro {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 100;
      text-align: center;
      display: table;
      top: 0;
      overflow: auto;
      background-image: url("/assets/images/intro/introback.jpg");
      background-size: cover;
    }
    .intro .intro__inner {
      display: table-cell;
      vertical-align: middle;
      padding: 50px;
    }
    .intro .intro__inner .intro__logo {
      max-width: 100px;
      margin-bottom: 40px;
    }
    .intro .intro__inner p {
      margin-top: 15px;
    }
    .intro .intro__inner .intro__arrows {
      max-width: 200px;
      display: none;
      margin-top: 50px;
    }
    @media only screen and (min-width: 769px) {
      .intro .intro__inner .intro__arrows {
        display: block;
      }
    }
    .intro .intro__inner .intro__arrow-instructions {
      display: none;
    }
    @media only screen and (min-width: 769px) {
      .intro .intro__inner .intro__arrow-instructions {
        display: block;
      }
    }
    .intro .intro__inner > * {
      margin: 0 auto;
      max-width: 600px;
    }
    .intro .intro__inner .button {
      margin-top: 60px;
    }
    </style>
    <div class="intro__inner">
        <img class="intro__logo" src="/assets/images/logo.svg" alt="">
        <h1>Wishing you a merry christmas!</h1>
        <p>We created albums in the spirit of christmas, sed ultricies urna. Integer a tortor mi. Vestibulum lobortis, ante vel tincidunt mollis, risus ex ornare arcu, sed vestibulum mauris mauris eu arcu.</p>
        <div class="intro__arrows">
            <img src="/assets/images/intro/arrows.svg" alt="">
        </div>
        <p class="intro__arrow-instructions">
            Left/Right to navigate through albums. <br>
            Up/Down to navigate through songs.
        </p>
        <div class="button">Enter website</div>
    </div>
</div>
