.player{
    position: absolute;
    width:100%;
    height:100%;
    @media #{$above-small}{
        .player__left{
            width: 30%;
            height:100%;
            align-content: blue;
        }
     }
  .player__playlist{
      background-color: red;
  }
}
