<div class="player">
    <!-- your markup here.-->
    <div>
        Playing from <span class="persons"></span>'s playlist.
    </div>
    <div>
        Playlisttitle: <span class="playlist-title"></span>
    </div>
    <div>
        Songtitle: <span class="song-title"></span>
    </div>
    <div>
        Song <span class="song-index"></span>/<span class="playlist-length"></span>
    </div>
</div>
