// .list-vertical{
//   @include list;
// }
//
// .list-horizontal{
//   @include list-inline;
// }
//

.float-left{
    float:left;
}
.float-right{
    float:right;
}

.text-center{
    text-align: center;
}
